label {
	width: fit-content;
}
label::first-letter {
	text-transform: capitalize;
  }

/* form {
	display: flex;
	flex-direction: column;
	gap: var(--sp2);

	width: 100%;
} */

/* .inputGroup {
	display: flex;
	flex-direction: column;
	gap: var(--sp1);

	color: var(--ac1);
} */

/* .horizontal {
	flex-direction: row;
} */

/* .tag {
	flex-direction: row;
	flex-wrap: wrap;
} */
/* .tag input {
	width: unset;
} */

/* label.button {
	display: flex;
	align-items: center;
	gap: var(--sp1);
	flex-shrink: 0;

	padding: var(--sp1);
	border-radius: var(--brad1);
	border: 2px solid var(--ac5);

	cursor: pointer;
} */

form input,
form select,
form textarea {
	width: 100%;

	padding: var(--sp2);
	border-radius: var(--sp0);
	border: 2px solid var(--ac4);

	color: var(--ac1);
	/* background-color: var(--ac5); */
}

/* label.button:hover, */
form input:hover,
form select:hover,
form textarea:hover {
	border-color: var(--midtone);
}

form input:focus,
form select:focus,
form textarea:focus {
	border-color: var(--cl1);
	background-color: var(--ac4);

}

form textarea {
	display: block;
	resize: none;
	height: 160px;
}

/* form a, form .link {
	width: fit-content;

	color: var(--cl1);
	text-decoration: none;
	font-weight: 500;

	cursor: pointer;
} */


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* input[type='number'] {
	-moz-appearance: textfield;
} */
