:root {
	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 32px;
	--sp5: 48px;

	--shad1: 0 0 8px rgba(0, 0, 0, 0.282);
	--trans1: all 0.2s ease-in-out;
	--headerHeight: 60px;
	
	transition-property: background-color, border-color, opacity, outline;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	--cl1: #1d9bf0;
	--cl2: #146ca8;
	--cl3: #f05950;
	--cl4: red;
	--cl5: #04AA6D;
	--cl6: goldenrod;
	--overlay: rgba(0, 0, 0, 0.8);

	--ac1_: black;
	--ac2_: rgb(32, 32, 32);
	--ac3_: gray;
	--ac4_: rgb(210, 210, 210);
	--ac5_: white;
}



main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac4_);
	--ac5: var(--ac5_);
}
main.dark {
	--ac1: white;
	--ac2: rgb(185, 185, 185);
	--ac3: gray;
	--ac4: rgb(46, 46, 46);
	--ac5: rgb(24, 24, 24);
}
