@media(prefers-color-scheme: dark){
	:root:has(main.system_theme){
		color-scheme: light dark;
	}
}
:root:has(main.light_theme){
	color-scheme: light;
}
:root:has(main.dark_theme){
	color-scheme: dark;
}

:root {
	--mobileWidth: 800px;
	--headerHeight: 80px;

	--cl1: #1d9bf0;
	--yellow: rgb(255, 162, 0);
	--overlay: rgba(128, 128, 128, 0.5);
	--input: hsla(230, 30%, 41%, 0.1);

	--ft1: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
	--ft2: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
	--ol: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 25%));
	--bg3: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 20%));
	--bg2: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 15%));
	--bg1: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
	--bg: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 5%));

	--button-outline-color: light-dark(transparent, hsl(0, 0%, 30%));
	--select-outline-color: light-dark(transparent, hsl(0, 0%, 30%));
}

main{
	--input-color:var(--ft1);
	--group-background-color:var(--input);
	
	--pagination-background-color:var(--input);
	--pagination-outline-color:var(--input);
	--pagination-outline-color-hover:var(--ft1);
}


:root,
textarea,
select,
input,
button {
	font-family:"Lexend", sans-serif;
	font-size: 14px;

}

* {
	line-height: 150%;
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s;
	-webkit-text-fill-color: var(--ft1);
}



hr {
	border: none;
	border-top: 2px solid var(--input);
}

.page_title {
	color: var(--ft1);
	font-size: 1.5rem;
	font-weight: 800;
}

.line {
	display: flex;
	gap: 8px;
	align-items: center;
	flex-wrap: wrap;
}
.line.space{
	justify-content: space-between;
}
.line.nowrap{
	flex-wrap: nowrap;
}