@media(prefers-color-scheme: dark){
	:root:has(main.system_theme){
		color-scheme: light dark;
	}
}
:root:has(main.light_theme){
	color-scheme: light;
}
:root:has(main.dark_theme){
	color-scheme: dark;
}

:root {
	--trans: 0.2s ease-in-out;
	--mobileWidth: 800px;
	--headerHeight: 80px;
	--aTime: 1s;

	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 64px;
	--sp5: 80px;

	--cl1: #1d9bf0;
	--yellow: rgb(255, 162, 0);
	--overlay: rgba(128, 128, 128, 0.5);
	--input: hsla(230, 30%, 41%, 0.1);

	
	--ft1: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
	--ft2: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));

	--ol: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 25%));

	--bg3: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 20%));
	--bg2: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 15%));
	--bg1: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
	--bg: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 5%));


	--button-outline-color: light-dark(transparent, hsl(0, 0%, 30%));
	--select-outline-color: light-dark(transparent, hsl(0, 0%, 30%));
}



main{
	--input-color:var(--ft1);
	--group-background-color:var(--input);
	
	/* --link-color:var(--ft2); */
	/* --link-color-hover:var(--cl1); */
	
	--pagination-background-color:var(--input);
	--pagination-outline-color:var(--input);
	--pagination-outline-color-hover:var(--ft1);
}