
:root,
code,
textarea,
select,
input,
button {
	font-family: "Mulish", 'Segoe UI', sans-serif;
	font-size: 14px;
}

html {
	user-select: none;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.error {
	color: var(--cl4);
	font-size: small;
}

.item_area {
	display: grid;
	gap: var(--sp2);
	grid-template-columns: repeat(2, 1fr);

	color: var(--ac1);
}

@media screen and (min-width: 700px) {
	.item_area {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1000px) {
	.item_area {
		grid-template-columns: repeat(4, 1fr);
	}
}

.list {
	grid-template-columns: 1fr;
}

.ctitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp2);

	font-weight: 900;
	font-size: large;
	color: var(--ac1);
	fill: currentColor;
}

hr {
	border: none;
	border-top: 2px solid var(--ac5);
}

/*************************** form ***************************/

label {
	width: fit-content;
	text-transform: capitalize;
}


select {
	width: 100%;

	padding: var(--sp1);
	border-radius: var(--sp0);
	border: none;
	outline: 2px solid var(--ac4);

	background-color: var(--ac5);
	color: var(--ac1);
}

select:hover {
	outline-color: var(--ac3);
}
select:focus {
	outline-color: var(--ac1);

}

option {
	background-color: var(--ac6);
}