:root {
	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 32px;
	--sp5: 48px;

	--shad1: 0 0 8px rgba(0, 0, 0, 0.282);
	--trans1: all 0.2s ease-in-out;
	--headerHeight: 60px;
	
	transition-property: background-color, border-color, opacity, outline;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	--cl1: #1d9bf0;
	--cl1: #1B767B;
	--cl1_t: color-mix(in srgb, var(--cl1), transparent 90%);
	--cl1_b: color-mix(in srgb, var(--cl1), black 30%);
	--cl4: #ff0000;
	--cl5: #04AA6D;
	--cl6: goldenrod;
	--overlay: rgba(0, 0, 0, 0.8);

	--ac1_: hsl(0, 0%, 0%);
	--ac2_: hsl(0, 0%, 30%);
	--ac3_: hsl(0, 0%, 50%);
	--ac4_: hsl(0, 0%, 80%);
	--ac5_: hsl(0, 0%, 90%);
	--ac6_: hsl(0, 0%, 100%);
}



main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac4_);
	--ac5: var(--ac5_);
	--ac6: var(--ac6_);
}
main.dark {
	--ac1: hsl(0, 0%, 100%);
	--ac2: hsl(0, 0%, 70%);
	--ac3: hsl(0, 0%, 50%);
	--ac4: hsl(0, 0%, 20%);
	--ac5: hsl(0, 0%, 15%);
	--ac6: hsl(0, 0%, 10%);
}
