:root {
	--sp0: 4px;
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	--sp4: 32px;
	--sp5: 48px;

	--shad1: 0 0 8px rgba(0, 0, 0, 0.282);
	--trans1: all 0.2s ease-in-out;
	--headerHeight: 60px;
	
	transition-property: background-color, border-color, opacity, outline;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	--cl1: #1d9bf0;
	--cl2: #146ca8;
	--cl3: #f05950;
	--cl4: #ff0000;
	--cl5: #04AA6D;
	--cl6: goldenrod;
	--overlay: rgba(0, 0, 0, 0.8);

	--ac1_: #000000;
	--ac2_: #505050;
	--ac3_: #808080;
	--ac4_: #d2d2d2;
	--ac5_: #ffffff;
}



main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac4_);
	--ac5: var(--ac5_);
}
main.dark {
	--ac1: #ffffff;
	--ac2: #b9b9b9;
	--ac3: #808080;
	--ac4: #2e2e2e;
	--ac5: #181818;
}
